<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello Twitter</title>
</head>
<body>
<h3>Hello, <span th:text="${twitterProfile.name}">Some User</span>!</h3>

    <h4>These are the search twitterSearchResponses for: </h4>
<ul>
    <li th:each="twitterSearchResponse:${twitterSearchResponses}"> <h4 th:text="${twitterSearchResponse.query}">#hashtag</h4>
        <ul>
            <li th:each="tweet:${twitterSearchResponse.tweets}" th:text="${tweet}">Friend</li>
        </ul>
    </li>
</ul>

</body>
</html>